<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<title>二维码生成库：QRCode</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<script type="text/javascript" src="http://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
<!--引入vue.js-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/vue/2.1.3/vue.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router@2.5.3/dist/vue-router.js"></script>
<script type="text/javascript" src="https://unpkg.com/vuex"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
	<div>授课端扫描二维码登陆 ,http间隔发送</div>
	<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
	<div>{{updateUrl}}</div>
	<div>{{accessKeyStatusDesc}}</div>
	<button @click="getAccessKey">test getAccessKey</button>
	<button @click="getAccessKeyStatus">test getAccessKeyStatus</button>

</div>
<script type="text/javascript">
	var vm = new Vue({
	    el:"#app",
	    data:{
	    	accessKey:"-",
	    	accessKeyStatus:"0",
	    	updateUrl:"-",
	    },
	    computed: {
	    	accessKeyStatusDesc() {
	    		if(this.accessKeyStatus==0){
	    			return "未扫描"
	    		}else{
	    			return "已扫描 前往登陆后页面.."
	    		}
	            
	        }
	    },
	    methods: {
	    	makeCode: function() {
    			document.getElementById('qrcode').innerHTML = "";
    	    	var qrcode = new QRCode(document.getElementById("qrcode"), {
    	    		width : 100,
    	    		height : 100
    	    	});
    	    	
    			qrcode.makeCode(this.updateUrl);
	    	},
	    	getAccessKey: function() {
	    		var self = this;
	    		axios.get(
	    			"/icweixin/getAccessKey"
	    		).then(function(res){
	    			console.log(res);
	    			self.updateUrl = "http://"+window.location.host+"/icweixin/updateAccessKeyStatus?accessKey="+res.data;
	    			self.accessKey = res.data;
	    			
	    			//self.makeCode();
	    		}).catch(function(err){
					
	    		})
	    	},
	    	getAccessKeyStatus: function() {
	    		var self = this;
	    		axios.get(
	    			"/icweixin/getAccessKeyStatus?accessKey="+self.accessKey
	    		).then(function(res){
	    			self.accessKeyStatus = res.data;
	    		}).catch(function(err){
					
	    		})
	    	},
	    },
	    watch: {
	    	accessKey(val) {
				this.makeCode();
				this.accessKeyStatus = "0";
			}
	    },
        mounted(){
	    	this.getAccessKey();
	    	this.timer = setInterval(this.getAccessKeyStatus, 5000);
        },
	});
</script>
</body>
</html>